body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.weather-vanilla-wrapper {
  max-width: 600px;
  margin: 50px auto;
}
.weather-vanilla {
  padding: 30px;
  border: 1px solid #000000;
  border-radius: 5px;
}

h1 {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 25px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  font-size: 12 px;
}
.icon {
  font-size: 30px;
}
