body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.weather-vanilla-wrapper {
  max-width: 600px;
  margin: 50px auto;
}
.weather-vanilla {
  padding: 30px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
form {
  margin-bottom: 30px;
}
input {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 40px;
  font-weight: 100;
  margin-top: 15px;
}

smaller {
  font-size: 16px;
}
.temp {
  margin-top: 15px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  font-size: 12 px;
  text-transform: capitalize;
}
h6 {
  font-size: 12px;
  text-align: center;
}

.iconSize {
  font-size: 50px;
  padding-left: 10px;
}
.iconSmall {
  text-align: center;
  font-size: 12px;
}

p {
  font-size: 12px;
}
